.badeggcup {
  &-options-wrap {
    flex-wrap: wrap;

    .components-panel__body-title {
      position: sticky;
      top: 0;
      z-index: 10;
      background: white;
      border-bottom: 1px solid #f0f0f0;

      @media (min-width: 601px) {
        top: 46px;
      }

      @media (min-width: 783px) {
        top: 32px;
      }
    }
  }

  &-panel {
    container-name: BadEggCupPanel;
    container-type: inline-size;
    min-width: 300px !important;
    max-width: 100% !important;

    .components-custom-select-control,
    .components-base-control {
      margin: 0 0 1em;
    }
  }

  &-theme-supports {
    position: sticky;
    top: 48px;
    min-width: 300px !important;
    max-width: 300px !important;

    .components-base-control {
      margin: 0.5em 0;
    }
  }

  &-brand-colours {
    &-item {
      position: relative;
    }

    h3 {
      min-width: 188px;
      text-transform: capitalize;
    }

    .components-range-control {
      max-width: 294px;
    }

    .components-circular-option-picker {
      position: absolute;
      top: -0.75em;
      right: 0;
      min-width: unset;
      margin: 0;

      .components-button {
        height: auto;
        padding: 0;
      }
    }

    .components-color-palette__custom-color-name {
      display: none;
    }

    .components-v-stack {
      gap: 0;
    }
  }

  &-company-info {
    hr {
      border-color: rgba(black, 0.1);
    }

    .components-text-control__input {
      width: 100%;
    }

    .components-flex-item {
      flex: 1;
    }

    &-details,
    &-contact {
      flex: 1 1 calc(33% - 8px);
    }

    &-address-group {
      container-name: BadEggCupAddressGroup;
      container-type: inline-size;
      flex: 1 1 calc(50% - 8px);

      @container BadEggCupAddressGroup (max-width: 600px) {
        .components-flex {
          display: block;
        }

        hr {
          display: none;
        }
      }
    }

    &-details,
    &-contact,
    &-address-group {
      @container BadEggCupPanel (max-width: 600px) {
        flex: 1 1 100%;
      }
    }
  }

  &-social-rows {
    flex-wrap: wrap;
  }

  &-social-row {
    container-name: BadEggCupSocialRow;
    container-type: inline-size;
    flex: 1 1 100%;

    hr {
      flex: 0 0 1px;
    }

    &-icon {
      flex: 0 0 7em;
    }

    &-body {
      flex: 1 1 10em;

      .badeggcup-social-input-link {
        margin: 0;
        flex: 1 1 10em;
      }

      .badeggcup-social-input-icon {
        flex: 0 0 10em;
        max-width: 10em;

        .components-flex {
          flex-wrap: nowrap;
        }

        .components-flex-item {
          min-width: 8em;
        }
      }
    }

    &-action {
      flex: 0 0 8em;
    }

    @container BadEggCupSocialRow (min-width: 800px) {
      .badeggcup-social-row-action,
      .badeggcup-social-row-icon {
        border: none;
      }
    }

    @container BadEggCupSocialRow (max-width: 799px) {
      hr {
        display: none;
      }

      .badeggcup-social-row-inner {
        display: block;
      }

      .badeggcup-social-row-body {
        > .components-flex {
          display: block;
        }

        .badeggcup-social-input-icon {
          max-width: none;
          margin: 0 0 1em;
        }
      }
    }

  }
}
